.selectmenu {
    display: flex;
    flex-direction: column;


    .selectmenu-text {
        @include input_select;
        color: inherit;
        background: #efefef;
        border: solid 1px #e4e4e4;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &.borderBottomNone {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .selectmenu-arrow {
            background: no-repeat center/50% url("data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2280%22%20viewBox%3D%220%200%2048%2080%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0.960022%2072.3458L8.04002%2079.4258L47.64%2039.8258L8.04002%200.22583L0.960022%207.30583L33.48%2039.8258L0.960022%2072.3458V72.3458Z%22%20fill%3D%22%23343434%22%2F%3E%0A%3C%2Fsvg%3E");
            width: 20px;
            height: 20px;
        }

        .selectmenu-arrow.up {
            transform: rotate(90deg)
        }

        .selectmenu-arrow.down {
            transform: rotate(270deg)
        }

    }

    .selectmenu {
        display: none;
    }

    .selectmenu.open {
        display: block;
        background: #FAFAFA;
        border: 1px solid #e4e4e4;
        border-radius: 0 0 5px 5px;
        margin-top: -3px;
        padding: 0;
        position: absolute;
        z-Index: 1;


        li.item {
            cursor: pointer;
        }

        li.item:hover {
            background: #007fff;
            color: #FFF;
        }


        li.item span {
            padding: 5px;
            text-align: left;
        }
    }
}