table {
    border-spacing: unset;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;


    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    td {
        padding: 5px 15px;
        word-break: break-word;
        white-space: nowrap;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
}

@include mobile {
    table {
        border: 0;


        caption {
            font-size: 1.3em;
        }

        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

        td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        td:last-child {
            border-bottom: 0;
        }
    }
}