html {
  height: 100vh;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;

  min-width: 250px;
  width: fit-content;
  margin-bottom: 10px;
}

form>div {
  margin: auto;
  width: 100%;
}

fieldset>div {
  margin: 10px;
}

.container {
  min-width: min-content;
  width: 500px;
  max-width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.container>* {
  margin: 10px
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 5px 10px;
  display: block;
  box-sizing: border-box;
}

.address {
  margin-top: 10px;
}

button {
  padding: 10px 40px;
  margin: 10px;
}

table {
  border-spacing: unset;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

td {
  padding: 10px 20px;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}